.sample-trail {
  box-sizing: border-box;
  width: auto;
  height: auto;
  min-height: 400px;
  background-color: #c4db78;
  border-radius: 10px;
  margin-top: 20px;
  display: flex;
  justify-content: left;
}

.trail-name-box {
  box-sizing: border-box;
  position: relative;
  flex: 0.45;
  background-color: white;
  border-radius: 10px;
  margin: 5px;
  justify-content: center; /* 수평 가운데 정렬 */
  align-items: center; /* 수직 가운데 정렬 */
  overflow: hidden;
}

.trail-name-box p {
  text-align: center;
  margin-top: 50px;
}

.trail-name {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 80%;
  max-width: 400px; /* 요소가 너무 넓어질 경우 최대 너비 설정 */
  width: 100%; /* 부모 요소에 맞게 가로 폭 설정 */
  margin: 0 auto; /* 수평 가운데 정렬을 위해 좌우 마진을 auto로 설정 */
}


.trail-name p {
  flex: 1 0 calc(33.33% - 20px);
  margin: 10px;
  text-align: center;
}

.trail-photo-box {
  box-sizing: border-box;
  flex: 0.65;
  margin: 5px;
  border-radius: 10px;

  /* 사진을 가운데 정렬 */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.trail {
  position: absolute;
  max-width: 95%;
  max-height: 95%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* 버튼 */
.trail-name button {
  font-family: monospace;
  background-color: #fff;
  border: none;
  border-radius: 100px;
  width: 100px;
  height: 40px;
  transition: .3s;
  margin: 10px; /* 각 버튼 사이의 간격을 조정합니다. */
}

.trail-name button:hover {
  color: #fff;
}

#road1:hover {
  background-color: #b0c4de;
}

#road2:hover {
  background-color: #8fbc8f;
}

#road3:hover {
  background-color: #ffb6c1;
}

#road4:hover {
  background-color: #a0dddd;
}

#road5:hover {
  background-color: #a995d1;
}

#road6:hover {
  background-color: #e7804e;
}

#road7:hover {
  background-color: #f0e68c;
}

/* logo */
#logo {
  width: 100px;
  height: 70px;
  position: absolute;
  bottom: 10px;
  left: 12px;
}
.carousel-container {
  width: 100%; /* 너비를 100%로 설정 */
  max-width: 1300px; /* 최대 너비를 1200px로 설정 */
  margin: 0 auto; /* 가운데 정렬 */
}

.carousel-item img {
  width: 100%; /* 이미지 너비를 부모 요소에 맞춤 */
  height: 250px; /* 높이를 300px로 설정 */
  object-fit: cover; /* 이미지 비율 유지하면서 영역에 맞게 자름 */
}

.weather-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
  width: 80%;
  max-width: 600px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.weather-details {
  margin-left: auto;
  text-align: right;
}

.weather-details p {
  margin: 5px 0;
}

.weather-icon {
  margin-right: 160px;

}

.weather-info {
  display: flex;
  justify-content: center;

}