/* styles.css */

/* 기본 스타일 */
.join-box {
    margin: 0 auto;
    width: 550px;
    border: none;
    padding: 20px;
}


.input-id {
    margin-top: 30px;
    margin-bottom: 30px; /* 간격 조절 */
}

.form-item {
    margin-bottom: 5px;
}

.form-item p,
.form-item Form.Control {
    margin-bottom: 5px;
}

.input-me {
    margin-top: 15px;
}

.form-container {
    margin-bottom: 15px;
}

/* 미디어 쿼리: 화면 너비가 768px 미만일 때 */
@media (max-width: 767px) {
    .join-box {
        width: 100%; /* 전체 너비를 차지하도록 변경 */
    }
}
