.login-box {
    margin: 0 auto;
    width: 550px;
    border: none;
    padding: 20px;
    margin-top: 20px;
}

.button-container {
    display: flex;
    justify-content: end;
    margin-top: 20px;
}

#loginBtn, #joinBtn {
    width: 100px;
}

#joinBtn {
    margin-right: 20px;
}

@media (max-width: 767px) {
    .login-box {
        width: 100%;
    }
}
