/* signup */
.signup-box {
    margin: 0 auto;
    width: 550px;
    border: none;
    padding: 20px;
}

.input-id {
    margin-top: 30px;
    margin-bottom: 30px;
}

.input-me {
    margin-top: 15px;
}

.form-container {
    margin-bottom: 15px;
}

.input-box {
    margin-bottom: 15px;
}

#loginBtn {
    margin-right: 10px;
}

/* 미디어 쿼리: 화면 너비가 768px 미만일 때 */
@media (max-width: 767px) {
    .join-box {
        width: 100%; /* 전체 너비를 차지하도록 변경 */
    }
}

/* login */
.login-box {
    margin: 0 auto;
    width: 550px;
    border: none;
    padding: 20px;
    margin-top: 20px;
}

.button-container {
    display: flex;
    justify-content: end;
    margin-top: 20px;
}

.form-item {
    margin-bottom: 10px;
}

.form-item p,
.form-item Form.Control {
    margin-bottom: 25px;
}

#loginBtn, #joinBtn {
    width: 100px;
}

#joinBtn {
    margin-right: 20px;
}

@media (max-width: 767px) {
    .login-box {
        width: 100%;
    }
}

/* change */
.change-box {
    margin: 0 auto;
    width: 550px;
    border: none;
    padding: 20px;
}

.change-item {
    margin-bottom: 10px;
}

.change-item label {
    display: block;
    margin-bottom: 5px;
}

.change-item .change-container {
    display: flex;
    align-items: center;
}

.change-item .change-container > * {
    margin-right: 10px;
}

.change-item .change-container > #input {
    flex-grow: 1;
}

.change-item .change-container > #Btn {
    flex-shrink: 0;
}


