.day-buttons, .detail-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.day-buttons button, .detail-buttons button {
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 16px;
}

.current-weather {
    text-align: center;
    margin-bottom: 20px;
}

.current-weather div {
    display: inline-block;
    margin: 0 20px;
}

.chart-container {
    margin: 40px;
    width: auto;
    height: 150px;
    margin-bottom: 20px;
}

.weather-details {
    display: flex;
    justify-content: space-around;
}

.weather-detail {
    text-align: center;
}
